
* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

/* Global Variables */
:root {
    --font-title:'Cookie', cursive;
    --font-content: 'Roboto', sans-serif;


}

body {
    min-height: 100vh;
    background: #8a8a8a url(./../img/bg_contact.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    background-blend-mode: multiply;
    font-family: var(--font-content);
}

#contact {
    min-height: 70vh;
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    /* container set */
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
}

.container-text {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    color: #fff;
    padding: 10px 20px;
    /* background: #8a8a8a; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: rgba(1, 41, 39, 0.6);
    -webkit-mix-blend-mode: screen;
    -moz-mix-blend-mode: screen;
    -o-mix-blend-mode: screen;
    -ms-mix-blend-mode: screen;
    mix-blend-mode:screen;
    text-shadow: 2px 2px #080808;
}

.container-form {
    background: #fff;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 20px;
}

#title {
    font-family: var(--font-title);
    font-size: 53px;
    font-weight: 400;
}

input, select, textarea {
    display: block;
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

input[type="number"] {
    width: 100px;
}

button[type='submit'] {
    width: 120px;
    height: 30px;
    display: block;
    background: #236661;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 0 10% 0 auto;
}

label {
    display: block;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
}

select#dropdown {
    width: 50%;
}

input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    width: 100px;
    height: 15px;
}

textarea#message {
    height: 100px;
    resize: none;
}

input:focus {
    outline: navy;
}

label.sublabel {
    display: inline-block;
}

@media screen and (max-width: 700px) {
    #contact {
        display: block;
        margin: 20px auto;
    }

    .container-form {
        border-top-right-radius: initial;
        border-bottom-left-radius: 20px;
    }
}